body {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

header { 
    width: 100%;
    height: 100px;
    background-color: #222;
    display: flex;
}

.logo{
    width: 200px;
    height: 100px;
    background-image: url(/docskullka-JSFE2022Q3/assets/images/Songbird_Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
}

.navPage{
   list-style: none;
   font-size: 40px;
}

.navPage a {
    text-decoration: none;
    color: white;
}

nav {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


main {
    width: 100%;
    height: 1150px;
    background-image: url(/docskullka-JSFE2022Q3/assets/images/mountain-peak-birds-horizon-digital-art\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}





footer { 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #222;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.git img { 
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: contain;
}

.rsShool img { 
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: contain;
}

/**=============================quiz========================== **/

.header{
    width: 100%;
    height: 100%;
    background-color: #222;
}

.topHead{
    display: flex;
    
}

h5{
    color: white;
    margin-left: auto;
    margin-right: 70px;
    font-size: 20px;
}